@use '../../style/partials/variables' as * ;

.logo{
    width: 35%;
    padding: 1rem;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1.5rem 1rem 1rem 2rem;
    
    
    &__bg{
        background-color: $bg-color;
        color: #5E5E5E;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    
    
    &__container{
        background-color: $bg-nav;
        border-radius: 1.25rem;
        width: 60%;
        display: flex;
        margin: auto;
        align-items: center;
        flex-direction: column;
        
        &_wrapper{
            display: flex;
            width: 100%;
            height: 100%;
        }
    }

    &__label{
        font-size: 1.5rem;
        padding: 1rem 0 .5rem 0;
    }

    &__input{
        height: 50px;
        background-color: $bg-nav;
        border: none;
        border-bottom: 1px solid #8c8c8c;

        &:focus{
            outline: none;
        }
    }
    
    &_btn_container{
        width: 80%;
        display: flex;
        justify-content: center;
        margin-top: 1.75rem;
        
    }

    &_sso__container{
        width: 50%;
        padding:  1rem 2rem ;
        border-left: 1px solid #000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    &_icon{
        width: 2.5rem;
        margin-right: .5rem;
    }

    &__terms{
        padding: 1rem;
    }
}

.btn_icon{
    background-color: none;
    background-color: $bg-nav;
    border: 1px solid #8C8C8C;
    display: flex;
    align-items: center;
    text-transform: none;
    padding: .5rem 1rem;
    border-radius: 0;
    color: #5E5E5E;
    margin: 1rem;
}