@use '../../style/partials/variables' as * ;

.home_page{
    display: flex;
    
    &__wrapper{
        display: flex;
        flex-grow: 1;
        background-color: $bg-color;
        justify-content: center;
        align-items: center;
    }
}