@use '../../style/partials/variables' as *;

.warehouse{

    &_main{
        width: 90%;
        padding: 1rem;

        &_table{
            width: 100%;
            border-radius: 15px;
            border-spacing: 0;
            background-color: #D5E7EE;
            padding: 1.5rem;
            text-align: center;
            font-size: 0.85rem;
            box-shadow: 0px 8px 10px rgba(94, 91, 169, .25);
        }

        th{
            font-weight: bold;
            font-size: 1.25rem;
        }

        tbody{
            tr:last-child{
                td{
                    border: none;
                }
            }
        }

    }

    &_row{

        td{
            padding: 1rem;
            border-bottom: 1px solid #666666;

            &:first-child, &:nth-child(2){
                width: 15%;
            }

            &:nth-child(3){
                text-align: left;
                padding: 0 0.5rem;
            }

            &:nth-child(4), &:nth-child(5){
                padding: 0 0.5rem;
                width: 12.5%;
            }
            
            &:nth-child(6){
                width: 12.5%;
            }

            &:nth-child(7), &:nth-child(8){
                width: 5%;
                img{
                    margin-top: -2rem;
                }
            }

            img{
                height: 5rem;
                margin: auto;
                border-radius: 15px;
            }
        }

    }

    &_form{
        background-color: $bg-nav;
        padding: 1rem 2rem;
        border-radius: .75rem;

        &__group{
            margin: 1rem 0;

            &:last-child{
                width: 30%;
                display: flex;
                justify-content: space-evenly;
                margin-left: auto;
             }
 
             &_img{
                 display: flex;
                 height: 100px;
                 justify-content: space-between;
             }
 
             &_input{
                 width: 80%;
                 height: 2.3rem;
                 align-self: center;
             }
        }
    }
}

.img_hidden{
    display: none;
}
