@use './style/partials/fonts' as *;
@use './style/partials/variables' as *;

*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font: inherit;
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}

input, textarea, button, select{
    font: inherit;
}

.app{
    display: flex;
    height: 100vh;
    
    &__wrapper{
        display: flex;
        flex-grow: 1;
        background-color: $bg-color;
        justify-content: center;
        align-items: center;
    }
}

Button{
    text-transform: uppercase;
    font-size: .75rem;
    padding: .75rem 1rem;
    border-radius: 0.625rem;
    border: 2px solid $btn-color;
}